
<div class="container">
  <div class="row">
    <button
      class="btn btn-primary mr-3"
      (click)="onClickStart()"
    >Start</button>
    <button
      class="btn btn-danger"
      (click)="onClickStop()"
    >Stop</button>
  </div>
</div>

<div class="row pt-5 d-flex justify-content-around">
  <div class="col-xs-4"></div>
  <div class="col-xs-2">
    <app-even
      [gameCtr]="gameCtr"
    ></app-even>
  </div>
  <div class="col-xs-2"></div>
  <div class="col-xs-1">
    <app-odd
      [gameCtr]="gameCtr"
    ></app-odd>
  </div>
  <div class="col-xs-4"></div>
</div>



